<ion-view view-title="ngCordova Test">
    <ion-content>
        <button class="button" ng-click="vm.vibrate()">震動</button>
        <button class="button" ng-click="vm.takePic()">照相</button>
        <img id="myImage" />
        <p />
        <form name="video" enctype="multipart/form-data">
            <button class="button button-positive" ng-click="vm.takeVideo()">
                <i class="icon ion-ios-videocam"></i> 攝影
            </button>
        </form>

        {{vm.percentage}} / 100
        <progress max="100" value="{{vm.percentage}}" id="ft-prog">
            <span style="color:black; white-space:nowrap;">{{vm.percentage}} / 100</span>
        </progress>

        <!--<video width="320" height="240" controls>
            <source dynamic-url dynamic-url-src="vm.videoUrl" type="{{vm.videoContentType}}" ></source>
        </video>-->

        <!--<video width="320" height="240" controls="">
            <source type="video/mp4" ng-src="https://charlelin.blob.core.windows.net/parkimgs/VIDEO0054.mp4" src="https://charlelin.blob.core.windows.net/parkimgs/VIDEO0054.mp4">
        </video>

        <video width="320" height="240" controls="">
            <source type="video/3gpp" ng-src="https://charlelin.blob.core.windows.net/parkimgs/VID_20160129_092451.3gp" src="https://charlelin.blob.core.windows.net/parkimgs/VID_20160129_092451.3gp">
        </video>-->
        <input signature ng-model="signatureOne"></input>
    </ion-content>
</ion-view>