<ion-view view-title="ngCordova Test">
    <ion-content>
        <button class="button" ng-click="vm.vibrate()">震動</button>
        <button class="button" ng-click="vm.takePic()">照相</button>
        <img id="myImage" />
        <p />
        <form name="video" enctype="multipart/form-data" >
            <button class="button" ng-click="vm.takeVideo()">攝影</button>
        </form>

        <progress max="100" value="vm.percentage" id="ft-prog">
            <span style="color:black; white-space:nowrap;">{{vm.percentage}} / 100</span>
            </progress>
        </progress>
    </ion-content>
</ion-view>