<ion-view view-title="{{vm.park.ParkName}}">
  <ion-content>
    <h1>{{vm.park.ParkName}}</h1>
    <span ng-bind-html="vm.getDesc()"></span><br />
    <img ng-src="{{vm.park.Image}}" style="width:50%;height:auto;display:block;margin:0 auto;" />
  </ion-content>
  <ion-footer-bar>
      <button class="button icon ion-ios-star-outline" ng-click="vm.added ? vm.removeFromFavorates() : vm.addFavorate()"
      ng-class="{'ion-star' : vm.added}">{{vm.added ? '已收藏' : '收藏'}}</button>
  </ion-footer-bar>
</ion-view>
